h3,h5 {
    color: greenyellow;
    margin: 1rem;
}

.mylists-cards, .all-list-card-box {
    margin: 1rem;
    background: purple;
    border-radius: 1rem;
    border-bottom: 2px solid plum;
    border-right: 2px solid plum;
}