h3,h5 {
    color: greenyellow;
}

.mymeetups-cards {
    margin: 1rem;
    background: purple;
    border-radius: 1rem;
    border-bottom: 2px solid plum;
    border-right: 2px solid plum;
}
.meetup-card-content {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    margin-top: -1rem;
}
.meetup-card-name {
    text-align: center;
}

.card-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

.card-highlight {
    color: lightskyblue;
    display: flex;
    justify-content: center;
}