.movie-bin {
    display: flex;
    flex-direction: column;
}
.movie-bin-search {
    justify-content: center;
}

.movie-content {
    display: flex;

}
.moviePoster {
    align-items: center;
    border: .25rem solid plum;
    border-radius: 1rem;
}

.titleBin {
    display: flex;
}

.miniMoviePoster {
    width: 75%;
    align-items: center;
    border: .25rem solid plum;
    border-radius: 1rem;
}
.miniMovieTitle {
    color: white;
    width: 75%;
    align-self: center;
    
}

.form-control-search {
    width: 90%;
    background: white;
    display: flex;
    align-self: center;
}