.movie-bin {
    display: flex;
    flex-direction: column;
}
.movie-bin-search {
    justify-content: center;
}

.movie-content {
    display: flex;
    justify-content: space-between;
}
.moviePoster {
    align-items: center;
    border: .25rem solid plum;
    border-radius: 1rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
}

.titleBin {
    display: flex;
}

.miniMoviePoster {
    margin-left: 20 rem;
    width: 75%;
    align-items: center;
    border: .25rem solid plum;
    border-radius: 1rem;
}
.miniMovieTitle {
    color: white;
    width: 75%;
    align-self: center;
    
    
}

.form-control-search {
    width: 90%;
    background: white;
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
    font-size: large;
    font-family: 'Lato', sans-serif;
}